

{{#if logged}}
<div id="links-container">
    <a href="/petition">Sign the petition</a><a href="/signers">Signers</a><a href="/profile/edit">Edit Profile</a><a href="/logout">Log out</a>
</div>

{{else}}
<div id="links-container">
        <a href="/login">Log in</a><a href="/reigster">Register</a>
</div>

{{/if}}