header {
    background-color: #f1f3f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    margin: 0;
    background-color: #79bac1;
}

#petition-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    background-color: #512b58;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 200px;
    height: 200px;
}

#logo-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

h1 {
    display: block;
    font-family: 'Odibee Sans';
    letter-spacing: 4px;
}

p {
    font-family: 'Prompt', sans-serif;
    letter-spacing: 4px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button {
    width: 100px;
    height: 25px;
    border-radius: 15%;
}

#button-containers {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 30px;
}

.names {
    display: flex;
    margin-top: 50px;
}

header {
    background-color: #f1f3f4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    margin: 0;
    background-color: #79bac1;
}

#petition-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    background-color: #512b58;
    text-align: center;
}

#logo {
    width: 200px;
    height: 200px;
}

#logo-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

h1 {
    display: block;
    font-family: 'Odibee Sans';
    letter-spacing: 4px;
}

p {
    font-family: 'Prompt', sans-serif;
    letter-spacing: 4px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button {
    width: 100px;
    height: 25px;
    border-radius: 15%;
    margin: 10px;
}

#button-containers {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 30px;
}

.names {
    display: flex;
    margin-top: 50px;
}

.names>div {
    margin-right: 50px;
}

#petition-explain {
    text-align: center;
}

canvas {
    border-style: dotted;
}

#thanks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.names>div {
    margin-right: 50px;
}

#petition-explain {
    text-align: center;
}

canvas {
    border-style: dotted;
}

#thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#link {
    font-size: 50px;
}

#img-signature {
    border-style: dashed;
}

#footer-text {
    color: white;
    font-size: 20px;
}

#signers-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button-register {
    margin-top: 30px;
}

.userInfo {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
}

.userInfo>div>input {
    -webkit-appearance: none;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
}

#signersCity-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

td {
    font-family: 'Prompt', sans-serif;
    letter-spacing: 4px;
    padding-top: 10px;
    padding-left: 40px;
}

#links-container {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly
}

#links-container>a {
    text-decoration: none;
    font-family: 'Prompt', sans-serif;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

#deleteSignature {
    all: unset;
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    font-size: large;
    text-transform: uppercase;
    transition: all 0.4s ease 0s;
}

#deleteSignature:hover {
    background: transparent;
    border: 2px solid black;
    letter-spacing: 3px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

#deleteSignature-container {
    position: absolute;
    left: 74%;
    top: 103%;
}

#deleteSignature:hover {
    cursor: pointer;
    border: none;
    box-shadow: none;
}

#resetSignature {
    position: absolute;
    top: 95.2%;
    left: 82%;
}

button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #512b58;
    padding: 20px;
    border-radius: 5px;
    border: none;
    transition: all 0.4s ease 0s;
    line-height: 1px;
}

button:hover {
    background: transparent;
    border: 2px solid black;
    letter-spacing: 3px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}

input {
    background: none;
    border: none;
    /* text-align: center; */
    border-bottom: 1px solid #512b58;
    color: #512b58;
    font-family: 'Prompt', sans-serif;
    letter-spacing: 3px;
    font-size: large;
    margin-left: 30px;
}

#petition-error {
    position: absolute;
    top: 116%;
    left: 13%;
    color: #ae2424ab;
    font-family: 'Prompt', sans-serif;
    letter-spacing: 3px;
    font-size: large;
}

div>#error-register {
    position: absolute;
    top: 89%;
    color: #992424;
}

#noAccount {
    margin: 20px;
    font-family: 'Prompt', sans-serif;
    letter-spacing: 4px;
}

#profile-error {
    margin: 20px;
    font-family: 'Prompt', sans-serif;
    letter-spacing: 4px;
    color: #992424;
}
#error{
    color: #992424;
}