<div id="register-container">

</div>
<form method="POST">

    <div class="userInfo">
        <div id="error-register">

   <p>{{error}}</p>
        </div>
 
        <div>
            <p>First Name</p>
            <input type="text" name="firstName">
        </div>


        <div>
            <p>Last Name</p>
            <input type="text" name="lastName">
        </div>

        <div>
            <p>Email</p>
            <input type="text" name="email" >
        </div>

        <div>
            <p>Password</p>
            <input type="password" name="password" >
        </div>
    </div>



    <input type="hidden" name="_csrf" value="{{csrfToken}}">


    <div id="button-register">

        <button>Submit</button>
    </div>
</form>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>

$('input[name="firstName"]').val('')
$('input[name="lastName"]').val('')
$('input[name="email"]').val('')
$('input[name="password"]').val('')


</script>