<div id="signersCity-container">

    {{#data}}
    <p>Signers so far in <b>{{city}}</b>:</p>

    <table>

        <td>{{firstname}}</td>
        <td>{{lastname}}</td>
        <td>{{age}}</td>

    </table>
    {{/data}}
</div>