<div id="signers-container">
    <p>Signers so far:</p>


    {{#rows}}
    <table>
        <tr>
            <td>{{firstname}}</td>
            <td>{{lastname}}</td>
        </tr>

    </table>
    {{/rows}}
</div>