<div id="signersCity-container">
    <p>Signers so far in <b>{{city}}</b>:</p>

    <div>
          <table>
    {{#data}}
        <tr>
        <td>{{firstname}}</td>
        <td>{{lastname}}</td>
        <td>{{age}}</td>
</tr>
   
    {{/data}}
     </table>
    </div>
</div>