<div id="signers-container">
    <p>Signers so far:</p>


    {{#rows}}
    <table>
        <tr>
            {{{showAnchorUser url fullname}}}
            <td>{{age}}</td>
            <td><a href="/signers/{{city}}">{{city}}</td><a/>
        </tr>

    </table>
    {{/rows}}
</div>