<div id="thanks">
    {{#data}}
    <p>Thank you for the support <b>{{firstname}} {{lastname}}</b></p>

    <img src="{{signature}}" alt="signature" width="600" height="150" id="img-signature">


    {{/data}}


<p> now you can see how many people has signed in the link below</p>
<a href="/signers" id="link">link</a>
</div>